<h1>Alpha</h1>
<input type="text" ng-model="textInput">
<button type="button" ng-click="alc.textPost(textInput); textInput = null;">Submit</button>
<div>
    <h2>Display Text</h2>
    <ul>
        <li ng-repeat="flip in alc.textArray.list">
            <p ng-if="!flip.editHide">
                {{flip.text}}
                <button type="button" ng-click="alc.toggleEdit(flip, flip.text, flip.id)">E</button>
                <button ng-click="alc.textDelete(flip.id)">X</button>
            </p>
            <p ng-if="flip.editHide">
                <input type="text" ng-model="flip.text">
                <button ng-click="alc.toggleEdit(flip, flip.text, flip.id); alc.textEdit(flip.text, flip.id)">+</button>
                <button type="button" ng-click="alc.toggleEdit(flip)"><-</button>
            </p>
        </li>
    </ul>
</div>